.title {
  color: black;
}

.card {
  background-color: white;
  border-color: black;
  filter: drop-shadow(0px 5px 5px black);
}

.card:hover{
  filter: drop-shadow(0px 0px 40px black);
  transition-duration: .5s;
}

.card_title {
  border-color: darkgrey;
}

.card_section{

}

.card_quotes{
  color:lightgray;
}
